#Dir
.vs/
.vscode/
.idea/
Build/
MakefilesBuild/
build/
bin/
bin-int/
out/
cmake-build-debug/
cmake-build-release/
cmake-build-*/
enc-temp-folder/
vcpkg_installed/
stress-test/
.stress-test/
.codeartsdoer/
cmake-build-debug-visual-studio/
cmake-build-release-visual-studio/
cmake-build-relwithdebinfo-visual-studio/
#files
*.user
*.vcxproj.filters
*.vcxproj.user
*.suo
*.pdb
*.idb
*.ilk
*.log
*.tlog/
*.obj
*.exp
*.lib
*.dll
*.exe
*.sln
.DS_STORE
CMakeUserPresets.json
CMakeSettings.json
CMakePresets.json

#custom
#imgui
Reya/vendor/imgui/.github
Reya/vendor/imgui/backends
Reya/vendor/imgui/examples
Reya/vendor/imgui/misc
Reya/vendor/imgui/.editorconfig
Reya/vendor/imgui/.gitignore
Reya/vendor/imgui/.gitattributes

Reyalize/raw_assets/
ReyaDemo/raw_assets/