#Dir
.vs/
.vscode/
.idea/
Build/
MakefilesBuild/
build/
bin/
bin-int/
out/
cmake-build-debug/
cmake-build-release/
cmake-build-*/
enc-temp-folder/
vcpkg_installed/
.stress-test/
.codeartsdoer/
*/.codeartsdoer/
cmake-build-debug-visual-studio/
cmake-build-release-visual-studio/
cmake-build-relwithdebinfo-visual-studio/

#files
*.user
*.vcxproj.filters
*.vcxproj.user
*.suo
*.pdb
*.idb
*.ilk
*.log
*.tlog/
*.exp
*.lib
*.dll
*.exe
*.sln
.DS_STORE
CMakeUserPresets.json
CMakeSettings.json

#custom
Lab1Triangle/Lab1-Vulkan中三角形绘制-2026.pdf